<mat-card>
  <mat-card-header>
    <div>
      <h3>Add to cart?</h3>
    </div>
  </mat-card-header>
  <mat-card-title>
    <div class="slides">
      <img src="{{ item.img }}" alt="" />
    </div>
  </mat-card-title>
  <br />
  <mat-card-content>
    <div class="content">
      <div>
        {{ item.price | currency : "PHP" }}
      </div>
      <div>Quantity: {{ item.quantity }}</div>
      <div class="item-right">
        <button (click)="decrement()" *ngIf="item.quantity >= 2">-</button>
        <button (click)="increment()" style="margin-left: 5px">+</button>
      </div>
    </div>

    <br />
    <br />

    <div class="buttons">
      <button
        mat-raised-button
        color="accent"
        style="background-color: rebeccapurple; margin-right: 10px"
        type="button"
        (click)="submit()"
      >
        Yes
      </button>
      <button
        mat-flat-button
        color="basic"
        style="margin-left: 10px"
        type="button"
        (click)="back()"
      >
        No
      </button>
    </div>
  </mat-card-content>
</mat-card>
