<section class="view intro-2">
  <div class="white-text">
    <br />
  </div>

  <mat-card class="content">
    <mat-card-header style="display: ruby-text">
      <h1 style="font-weight: bold">Your Password is</h1>
    </mat-card-header>
    <mat-card-content>
      PASSWORD :

      <div>
        <br />
        <button
          (click)="back()"
          mat-raised-button
          color="accent"
          style="background-color: rebeccapurple; width: 370px"
          type="button"
        >
          Back
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>
