
 
    <mat-card-header style="display: ruby-text">
      <h1 style="font-weight: bold">Your Password is</h1>
    </mat-card-header>
    <mat-card-content style="text-align: center;">
          {{password}}
      <div>
        <br />
        <button
          (click)="back()"
          mat-raised-button
          color="accent"
          style="background-color: rebeccapurple; width: 370px"
          type="button"
        >
          Back
        </button>
      </div>
    </mat-card-content>


