<app-header></app-header>
<br />

<div *ngIf="dataSource && dataSource.data && dataSource.data.length" class="table">
  <div class="container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Table columns -->
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let element">
            <!-- Check if the current column is 'img' -->
            <ng-container *ngIf="column !== 'img'; else imageCell">
              {{ element[column] }}
            </ng-container>
            <!-- Display the image in the 'img' column if 'img' property exists -->
            <ng-template #imageCell>
              <ng-container *ngIf="element.img">
                <img [src]="element.img" alt="Product Image" width="50" height="50">
              </ng-container>
            </ng-template>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    
  </div>
</div>
<div class="lower-container">
  <div class="total"><h2>Total: {{ grandTotal | currency : 'PHP' }}</h2></div>
  <button (click)="checkoutAll()">Place To Order</button>
</div>
<div *ngIf="!dataSource?.data?.length">
  <p>No items in the cart.</p>
</div>
