<app-header></app-header>
<br />
<ng-container *ngIf="dataSource.filteredData.length">
  <div class="table">
    <div class="container">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- no Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            style="text-align: center"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let element" style="max-width: 120px">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
          <td mat-cell *matCellDef="let element">
            {{ element.price | currency : "PHP" }}
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="img">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="text-align: justify; padding-left: 110px"
          >
            Image
          </th>
          <td mat-cell *matCellDef="let element">
            <img
              src="{{ element.img }}"
              alt=""
              style="
                max-height: 186px;
                max-width: 242px;
                width: auto;
                height: auto;
              "
            />
          </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>quantity</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ element.quantity }}
            <button
              style="margin-left: 10px; margin-right: 5px"
              (click)="increment(element.id)"
            >
              +
            </button>
            <button (click)="decrement(element.id, element.quantity)">-</button>
          </td>
        </ng-container>

        <!-- total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>total</th>
          <td mat-cell *matCellDef="let element">
            {{ element.total | currency : "PHP" }}
          </td>
        </ng-container>

        <!-- Update Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="material-symbols-outlined"
              type="button"
              (click)="deleteCart(element.id)"
            >
              <mat-icon class="icon"
                ><span class="material-symbols-outlined">
                  delete
                </span></mat-icon
              >
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</ng-container>

<div class="button-container" *ngIf="dataSource.filteredData.length">
  <button (click)="toCheckoutPage()">Checkout</button>
</div>

<ng-container *ngIf="!dataSource.filteredData.length">
  <mat-card class="card">
    <mat-card-header>
      <mat-icon>shopping_bag</mat-icon>
      <h2 class="card-title">My Cart</h2>
    </mat-card-header>
    <mat-card-content class="center">
      <marquee scrollamount="13">
        <img src="assets/shopnow.JPG" alt=""
      /></marquee>
      <h2 style="font-weight: 700">Your cart is empty!</h2>
      <h4>Add item to it now</h4>
      <button mat-flat-button color="primary" (click)="shopNow()">
        Shop now !!
      </button>
    </mat-card-content>
  </mat-card>
</ng-container>
