<section class="view intro-2">
  <div class="white-text">
    <br />
  </div>

  <mat-card class="content">
    <mat-card-header style="display: ruby-text">
      <h1 style="font-weight: bold">Forgot Password</h1>
      <br />
      <div style="font-size: 15px">Please Enter Your Detail</div>
    </mat-card-header>
    <br />
    <mat-card-content>
      <form
        class="example-form"
        [formGroup]="forgotForm"
        (ngSubmit)="checkPassword()"
      >
        <mat-form-field class="example-full-width" style="width: 100%">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field class="example-full-width" style="width: 100%">
          <mat-label>Mobile No</mat-label>
          <input matInput formControlName="mobile" />
        </mat-form-field>

        <br />
        <div>
          <button
            mat-raised-button
            color="accent"
            style="width: 370px; background-color: black"
            type="submit"
          >
            Check Password
          </button>
        </div>
        <br />
        <div>
          <button
            (click)="back()"
            mat-raised-button
            color="accent"
            style="width: 370px; background-color: rebeccapurple"
            type="button"
          >
            Back
          </button>
        </div>
      </form>

      <br />
    </mat-card-content>
  </mat-card>
</section>
